
.align-right {
    text-align: right;
}


.add-tank-wrapper {
    border-radius: 6px;
    border-color:gray;
    border-style: solid;
    background-color: honeydew;
    margin-left:0px;
}

.add-new-nominal-header {
    border-radius: 6px;
    border-color:gray;
    border-style: solid;
    background-color: rgb(65, 105, 58);
    margin-left:0px;
}

.update-tank-wrapper {
    border-radius: 6px;
    border-color:gray;
    border-style: solid;
    background-color: rgb(255, 253, 240);
    margin-left:0px; 
}

.spacer {
    margin-top:10px;
    margin-bottom: 10px;
}

.add-update-space {
    padding:5px;
}

.zero-out-margin{
    margin:0px;
}

.add-button{
    border-radius: 6px;
    border-color:rgb(11, 46, 0);
    background-color: rgb(6, 97, 29);
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    width: 310px;
    height: 40px;
    line-height: 40px;
    color:rgb(231, 228, 228);
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.update-button{
    border-radius: 6px;
    border-color:rgb(46, 43, 0);
    background-color: rgb(91, 97, 6);
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    width: 32s0px;
    height: 40px;
    line-height: 40px;
    color:rgb(231, 228, 228);
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
