<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Are you sure you want to delete this Nominal?</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" class="button-delete">Delete</button>
    </div>
  </ng-template>
  
<p *ngIf="!tankMeasurements"><em>Loading...</em></p>

<table mat-table [dataSource]="tankMeasurements" class="mat-elevation-z8">
    <ng-container matColumnDef="TankeMeasurementTypeName">
    <th mat-header-cell *matHeaderCellDef> Measurement </th>
    <td mat-cell *matCellDef="let element"> {{element.tankeMeasurementTypeName}} </td>
    </ng-container>

    <ng-container matColumnDef="TankTypeName">
        <th mat-header-cell *matHeaderCellDef> Tank Type</th>
        <td mat-cell *matCellDef="let element"> {{element.tankTypeName}} </td>
    </ng-container>

    <ng-container matColumnDef="TankMeasurementDescription">
        <th mat-header-cell *matHeaderCellDef> Measurement Description </th>
        <td mat-cell *matCellDef="let element">{{element.tankMeasurementDescription}}</td>
    </ng-container>

    <ng-container matColumnDef="Value">
        <th mat-header-cell *matHeaderCellDef> Value </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'outside-nominal': element.outsideNominal, 'inside-nominal': !element.outsideNominal}"> {{element.value}} </td>
    </ng-container>

    <ng-container matColumnDef="UOM">
        <th mat-header-cell *matHeaderCellDef> UOM </th>
        <td mat-cell *matCellDef="let element"> {{element.uom}} </td>
    </ng-container>

    <ng-container matColumnDef="TankMeasurementDatetime">
        <th mat-header-cell *matHeaderCellDef> Measurement Date </th>
        <td mat-cell *matCellDef="let element"> {{element.tankMeasurementDatetime | date: 'MM/dd/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="EmployeeName">
        <th mat-header-cell *matHeaderCellDef> Employee </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeName}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element" class="hover">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="edit(element)">edit</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element" class="hover">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="delete(element, content)">delete</mat-icon>
        </td>
    </ng-container>
    
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="selectRow(row)"
    [ngClass]="{'highlight': row.highlighted}"
    [matTooltip]="'Ideal Measurement Value: ' + row.idealNominalValue + ' ' + row.uom">
  
    >
  </tr>
</table>
